<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accumulate.business.mapper.UserMapper">

    <select id="findUserPage" resultType="com.accumulate.business.entity.User">
        select *
        from user_information
        <if test="pg.selectStr != null and pg.selectStr != ''">
            <where>
                username LIKE CONCAT('%',#{pg.selectStr},'%')
            </where>
        </if>
    </select>

    <!--    <insert id="create"  useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.accumulate.business.entity.User" >-->
    <!--    <insert id="create"  useGeneratedKeys="true"  keyProperty="userUsername" parameterType="com.accumulate.business.entity.User" >-->
    <!--      insert into user_information(-->
    <!--          user_type,-->
    <!--          trial_time,-->
    <!--          login_type,-->
    <!--          login_device,-->
    <!--          login_address,-->
    <!--          password_time,-->
    <!--          dept_id,-->
    <!--          message_pushid,-->
    <!--          user_username,-->
    <!--          user_realname,-->
    <!--          user_password,-->
    <!--          user_sex,-->
    <!--          user_phone,-->
    <!--          user_email,-->
    <!--          user_status,-->
    <!--          user_signature,-->
    <!--          user_remark,-->
    <!--          user_photo,-->
    <!--          operator,-->
    <!--          operate_time-->
    <!--          ) values(-->
    <!--              #{userType},-->
    <!--              #{trialTime},-->
    <!--              #{loginType},-->
    <!--              #{loginDevice},-->
    <!--              #{loginAddress},-->
    <!--              #{passwordTime},-->
    <!--              #{deptId},-->
    <!--              #{messagePushid},-->
    <!--              #{userUsername},-->
    <!--              #{userRealname},-->
    <!--              #{userPassword},-->
    <!--              #{userSex},-->
    <!--              #{userPhone},-->
    <!--              #{userEmail},-->
    <!--              #{userStatus},-->
    <!--              #{userSignature},-->
    <!--              #{userRemark},-->
    <!--              #{userPhoto},-->
    <!--              #{operator},-->
    <!--              #{operateTime}-->
    <!--          )-->
    <!--&lt;!&ndash;        <selectKey resultType="long" keyProperty="id" order="AFTER">&ndash;&gt;-->
    <!--&lt;!&ndash;            SELECT LAST_INSERT_ID()&ndash;&gt;-->
    <!--&lt;!&ndash;        </selectKey>&ndash;&gt;-->
    <!--    </insert>-->

    <!--    INSERT INTO collect_money_history(-->
    <!--    order_id,-->
    <!--    business_id,-->
    <!--    collect_money_phase,-->
    <!--    record_status,-->
    <!--    actual_collect_date,-->
    <!--    collect_money_sum,-->
    <!--    periods,-->
    <!--    operator,-->
    <!--    operator_time-->
    <!--    )VALUES(-->
    <!--    #{orderId},-->
    <!--    #{businessId},-->
    <!--    #{collectMoneyPhase},-->
    <!--    #{recordStatus},-->
    <!--    #{actualCollectDate},-->
    <!--    #{collectMoneySum},-->
    <!--    #{periods},-->
    <!--    #{operator},-->
    <!--    #{operatorTime}-->
    <!--    )-->
    <!--    <select id="mySelectPage" resultType="com.accumulate.business.entity.User">-->
    <!--        select *-->
    <!--        from test_user-->
    <!--        <if test="ps.erhao != null and ps.erhao != ''">-->
    <!--            <where>-->
    <!--                name = #{ps.erhao}-->
    <!--            </where>-->
    <!--        </if>-->
    <!--    </select>-->

    <!--    <select id="mySelectPage2" resultType="com.accumulate.business.entity.User">-->
    <!--        select-->
    <!--        <include refid="Base_Column_List"/>-->
    <!--        from test_user-->
    <!--        &lt;!&ndash; 判断 wrapper 是否为空 emptyOfWhere &ndash;&gt;-->
    <!--        <where>-->
    <!--            ${ew.sqlSegment}-->
    <!--        </where>-->
    <!--    </select>-->

    <!--    &lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <!--    <sql id="Base_Column_List">-->
    <!--		id, name-->
    <!--	</sql>-->

    <!--    <delete id="deleteAll">-->
    <!--		DELETE FROM test_user-->
    <!--	</delete>-->

    <!--    <select id="selectListByWrapper" resultType="com.accumulate.business.entity.User">-->
    <!--        SELECT * FROM test_user-->
    <!--        &lt;!&ndash; 判断 wrapper 是否为空 emptyOfWhere &ndash;&gt;-->
    <!--        <where>-->
    <!--            ${ew.sqlSegment}-->
    <!--        </where>-->
    <!--    </select>-->

</mapper>